<div class="bg">
  <div class="bg2">
    <div style="display: flex;">
      <img [src]="selectedTraining.photo" class="img">
      <div style="margin-left: 50px;">
        <h1>{{ selectedTraining.name }}</h1>
        <hr style="border-top: solid">
        <p>{{selectedTraining.description}}</p>
        <hr style="border-top: solid">
        <div style="display: flex;">
          <div>
            Date: {{selectedTraining.date}} <br>
          Location: {{selectedTraining.location}}
          </div>
          <div style="margin-left:50px ;">
            {{selectedTraining.nbParticipant}} Spots Available <br>
            <i class="fa-solid fa-check" style="color: #000000;" *ngIf="selectedTraining.certif"> Certified</i>
          </div>
        </div> 
        <hr style="border-top: solid">
        <div style="display: flex;">
          <div class="price">
            {{selectedTraining.price}} TND
          </div>
          <button class="enroll">
            Enroll Me
          </button>
        </div>
        
      </div>
    </div>

    <button class="btn btn-danger" (click)="GoBack()">Retour</button>
  </div>
</div>