<div id="intro" class="container d-flex justify-content-evenly">
  <div id="text" class="text-white ">
    <span>
      <span id="where">Where</span>
    Gaming
    <p id="meet">Meets</p>
    <span id="it">I.T.</span></span>
  </div>
  <div>
    <img src="../../../../assets/animus.png" alt="" style="width:500px; height:auto;">
  </div>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
  <p class="para">We are a group of passionate gamers and developers who share the same vision: to create an environment that fosters creativity, innovation.We offer diffrent kinds of trainings and workshops specially for our members.
  </p>
</div>