<div  class="container">
    <div id="liPokemons" [class]="pokemon.types[0].type.name" *ngFor="let pokemon of listPokemons" style="display: inline-block;">
  
      <span>
        <img #front src={{pokemon.sprites.front_default}}>
        <img #back src={{pokemon.sprites.back_default}}>
        
      </span>
  
      <span><b>Name:</b> {{pokemon.name.toUpperCase()}}</span>
  
      <span><b>Type 1:</b> {{pokemon.types[0].type.name}}</span>
  
      <span *ngIf="pokemon.types.length == 2">
        <b>Type 2:</b> {{pokemon.types[1].type.name}}
      </span>
      
      <span><b>Base stats:</b></span>
      <div class="statsPokemon" *ngFor="let baseStat of pokemon.stats">
       <span>{{baseStat.stat.name}}= {{baseStat.base_stat}}</span>
      </div>
      
    </div>
  </div>