*{
  font-family: chakrabold;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: #333; /* Add your desired background color */
  color: #fff; /* Add your desired text color */
  padding: 20px;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  left: 20%; /* Set to the width of the sidebar */
  top: 0;
  width: 80%;
  height: 10%;
  background-color: #555; /* Add your desired background color */
  color: #fff; /* Add your desired text color */
  padding: 20px;
  box-sizing: border-box;
}
