.training-list {
    background: #760000;
    display: flex;
    flex-wrap: wrap;
  }
  
  .training-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .training-item:hover {
    transform: scale(1.05);
  }
  
  .training-info {
    margin-top: 10px;
  }
  
  .details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #000000;
  }
  