#bg{
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../../../../assets/loginbg.png");
    background-size: cover;
}
#title{
    font-family: 'asix';
    font-size: 100px;
    text-shadow: 5px 5px black;
    color:#fff;
    text-align: center;
    margin: 0;
}
#subtitle{
    margin: 0;
    font-family: 'asix';
    font-size: 40px;
    text-shadow: 3px 3px black;
    color:#fff;
    text-align: center;
}

#logindiv{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
    width: 500px;
    height: 250px;
    background: rgb(90, 7, 129);
    background: linear-gradient(16deg, rgba(84, 9, 103, 0.983) 52%, rgb(125, 5, 177) 97%);
}

.login{
    margin: 0;
    font-family: 'asix';
    font-size: 50px;
    color:#fff;
    margin-bottom: 25px;

}

input{
    font-family: 'chakraBold';
    width: 400px;
    height: 40px;
    outline: none;
    margin-bottom: 5px;
    border-radius: 10px;
}

.loginbutton{
    font-family: 'chakraBold';
    color:rgb(85, 5, 85);
    padding: 1px;
    cursor: pointer;
    border-radius: 7px;
}
.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:70vh;
    width:100vw;
}

