<div  id="bg">
    <h1 id="title">
        Animus
    </h1>
    <p id="subtitle">Gaming Club</p>
    <div class="container">
        <div id="logindiv">
            <p class="login">LOGIN</p>
            <form>
                <input type="text" name="username" placeholder="Username"/><br/>
                <input type="password" name="pass" placeholder="Password"/><br/>
                <button class="loginbutton">
                    Login
                </button>
            </form>
        </div>
    </div>
    <p>
        Not A Member?
        <br>
        <span>
            JOIN US NOW!
        </span>
    </p>
</div>