<div class="bg" >
  <h1>
    About us
  </h1>

  <!-- <div> it doesnt work !!!
    <c-carousel>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides">
            <img
              alt="{{slide.title}}"
              class="d-block w-100"
              loading="lazy"
              src="{{slide.src}}"
            />
            <c-carousel-caption class="d-none d-md-block">
              <h3>{{slide.title}}</h3>
              <p>{{slide.subtitle}}</p>
            </c-carousel-caption>
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
      </c-carousel> 
</div>-->
  <div style="display: flex; align-items: flex-end">
    <img src="../../../../assets/animus.png" class="logo" />
    <div class="paraDiv">
      <p class="para">Animus Gaming club is where Gaming meets Coding.</p>
      <br />
      <span class="span">
        We are a group of passionate gamers and developers who share the same
        vision: to create an environment that fosters creativity, innovation.We
        offer diffrent kinds of trainings and workshops specially for our
        members.
      </span>
    </div>
  </div>
</div>