.bg {
  background-image: url("../../../../assets/home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  min-height: 370vh;
  min-width: 100vh;
}

.formation{
  width: 80%;
  margin-left: 10%;
}