<div class="bg">
  <div class="title">
    animus gaming club
   
  </div>
  
  <div style="display: flex; align-items: flex-end">
    <img src="../../../../assets/animusBlack.png" class="logo" />
    <div class="paraDiv">
      <p class="para">Animus Gaming club is where Gaming meets Coding.</p>
      <br />
      <span class="span">
        We are a group of passionate gamers and developers who share the same
        vision: to create an environment that fosters creativity, innovation.We
        offer diffrent kinds of trainings and workshops specially for our
        members.
      </span>
      <br /><br />
      <button (click)="toHome()">
        Check out more <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
