<div class="container" >
    <div  class="sign" id="logindiv">
        <p class="login">Sign up</p>
        <form>
            <input type="text" name="username" placeholder="Your full name"/><br/>
            <input type="email" name="email" placeholder="Entre your Email address"/><br/>
            <input type="password" name="pass" placeholder="Choose your password"/><br/>
            <button class="loginbutton">
                Join
                <i class="fa-solid fa-arrow-right" style="color: #662c91;"></i>
            </button>
        </form>
    </div>
</div>
<p class="signuptxt">
    Already A Member?
    <br>
    <a class="signuplink" routerLink="/loginpage/login">
        Log In Now!!
    </a>
</p>