<!-- formation-list.component.html -->
<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-10 col-xl-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title d-inline-block">Liste of Trainings</h4>
            <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
              <div class="d-flex my-2">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  formControlName="searchValue"
                />
                <button class="btn btn-dark" type="submit">Search</button>
              </div>
            </form>
            <a routerLink="/dashboard/form" class="btn btn-primary float-right"
              >Add Training</a
            >
          </div>
          <div class="card-block scrollList">
            <div class="table-responsive">
              <table class="table mb-0 new-patient-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>PLace</th>
                    <th>Date</th>
                    <th>Description</th>

                    <th>Price</th>
                    <th>Max Participants</th>
                    <th>Cetified</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let formation of lesFormation">
                    <td>
                      <img
                        width="28"
                        height="28"
                        class="rounded-circle"
                        src="assets/animusBlack.png"
                        alt=""
                      />
                      <h2>{{ formation.name }}</h2>
                    </td>
                    <td>{{ formation.location }}</td>
                    <td>{{ formation.date }}</td>
                    <td>{{ formation.description }}</td>
                    <td>{{ formation.price }}</td>
                    <td>{{ formation.nbParticipant }}</td>
                    <td>
                      <i
                        [ngClass]="{
                          'fa-solid': true,
                          'fa-check': formation.certif,
                          'fa-x': !formation.certif
                        }"
                      ></i>
                    </td>
                    <td>
                      <button
                        class="btn btn-warning btn-primary-one"
                        [routerLink]="['/dashboard/form', formation.id]"
                      >
                        Edit
                      </button>
                      <button
                        class="btn btn-danger btn-primary-one"
                        (click)="deleteFormation(formation.id)"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
