<nav [ngClass]="{'bg-dark shadow': isScrolled}" class="navbar fixed-top navbar-expand-lg navbar-dark p-md-0 ">
  <div class="container">
    <img
      class="navbar-brand"
      src="../../../../assets/animus.png"
      alt=""
      style="width: 80px; height: auto"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item px-3">
          <a class="nav-link text-white" href="#">Home</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link text-white" href="#">About</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link text-white" href="#">Blog</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link text-white" href="#">Contact</a>
        </li>
      </ul>
      <div class="mx-auto"></div>
      <button [ngClass]="{'btn-light': isScrolled,'btn-outline-light': !isScrolled}" class="btn">Login</button>
    </div>
  </div>
</nav>


