* {
    font-family: chakraBold;
}

.bg {
    background: rgb(150, 70, 252);
    background: radial-gradient(circle, rgba(150, 70, 252, 1) 0%, rgba(91, 26, 175, 1) 100%);
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    display: flex;
}

.aside {
    float: left;
    padding: 20px;
    width: 15vw;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 12vw;
}

.ulandlogo {
    justify-content: space-between;
    margin-top: 20px;
    height: 54vh;
    background-color: aliceblue;
    border-radius: 20px;
}

span {
    font-family: asix;
    font-size: 10vw;

}

.userInfo {
    font-family: chakrabold;
    color: rgb(0, 0, 0);
    font-size: 2vw;
}

.userMenu {
    margin: 10px;
    height: 45.5vh;
    background-color: aliceblue;
    border-radius: 20px;
}