<div class="bg">

    <aside class="aside">
        <div>
            <img src="..\assets\profile-user.png" alt="">
        </div>
        <div class="ulandlogo">

            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <div routerLinkActive="active" class="element">
                        <a routerLink="/home/user/uTrainings"><i class="fa-solid fa-grip fa-lg"
                                style="color: #000000;"></i>
                            Enrolled in Trainings</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a routerLink="/home/user/uConfig">
                        <div routerLinkActive="active" class="element">
                            <i class="fa-solid fa-user-pen fa-sm" style="color: #000000;"></i> Modify Your Account
                        </div>
                    </a>
                </li>
            </ul>
            <img src="..\assets\animusBlack.png" alt="">

        </div>
    </aside>
    <div style="display: block; width: 85vw;">
        <section class="userInfo">
            <span>{{loggedinUser.username}}</span> <br>
            {{loggedinUser.email | emailChanger}}
        </section>
        <aside class="userMenu">
            <router-outlet></router-outlet>
        </aside>
    </div>
</div>